/* Button.css */

@font-face {
    font-family: DreamHanSansCN;
    src: url(../../../static/DreamHanSansCN-W16.ttf);
}
.button {
    display: block; /* 使每个按钮独占一行 */
    border: 2px solid #4db8ff; /* 线框颜色 */
    border-radius: 50px; /* 圆角 */
    background-color: transparent;
    color: #4db8ff; /* 文字颜色 */
    font-family: DreamHanSansCN;
    font-size: 14px; /* 减小字体大小 */
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 10px 0; /* 每行之间有间距 */
    position: relative;
    top: 10px;
  }
  
  .button:hover {
    background-color: #ffffff; /* 鼠标悬停时的背景颜色 */
    border-color: #1989ac; /* 鼠标悬停时的边框颜色 */
    color: #1989ac;
  }

  /* 对底部按钮容器的样式 */


  [data-theme="dark"]  .button:hover {
    background-color: transparent; /* 鼠标悬停时的背景颜色 */
    border-color: #ffde25; /* 鼠标悬停时的边框颜色 */
    color: #ffde25;
  }