
.circular-progress-bar {
  width: 530px; /* 放大进度条的直径 */
  height: 530px;
  position: relative;
  top:-5px;
  margin: 20px auto;
  
}
/* .CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
} */
