.tableOfContents {
  position: fixed;
  right: 0;
  top: calc(var(--ifm-navbar-height) + 1rem);
  width: 300px; /* 调整宽度 */
  max-height: calc(70vh - var(--ifm-navbar-height));
  overflow-y: auto;
  padding: 1rem;
  background-color: transparent;
  z-index: 2;
}

.tocContent {
  padding-left: 300px; /* 与 TOC 宽度相同 */
}

.tocFooter {
  margin-top: 20px; /* 添加与上方内容的间距 */
  padding: 10px; /* 添加适当的内边距 */
  background-color: transparent; /* 背景颜色（可选） */

}
@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .tocContent {
    padding-left: 0;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}